/* Custom CSS Reset */

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

ol[role="list"], ul[role="list"] {
    list-style: none;
    padding-inline: 0;
}

table {
    border-collapse: collapse;
    border-color: currentcolor;
}

button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%; 
}

/* End of Custom CSS Reset */

@font-face {
    font-family: 'norsebold';
    src: url('norse-bold-webfont.woff2') format('woff2'),
         url('norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: rgb(17, 24, 39);
}

main {
    width: clamp(320px, 80vw, 100%);
    height: 100vh;
    margin: auto;
}

section.left-side {
    height: 100vh;
}

button {
    background-color: #596D48;
}

